.statusDropdown{
    font-size: 16px;
    margin: 0 0 0 141px;
    width: 189px;
    height: 35px;
    text-align: center;
}

.typeDropdown{
    font-size: 16px;
    margin: 0 0 0 179px;
    width: 189px;
    height: 35px;
    text-align: center;
}

.inputRate{
    margin: 0 0 0 203px;
    width: 155px;
}

.inputSize{
    margin: 0 0 0 188px;
    width: 155px;
}

.calendar{
    margin: 0 0 0 191px;
    width: 155px;
}
